body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 80%; /* Defina a largura desejada */
    max-width: 1200px; /* Defina um valor máximo para a largura */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center; /* Centraliza o texto no cabeçalho */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Centraliza os itens do menu */
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 2rem 0;
}

.project-card, .course-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
}
